.key-button{
  color: #ffffff;
  border-radius: 5px;
  background: #c0c0c0;
  box-shadow:  -5px -5px 14px #a1a1a1,
             5px 5px 14px #dfdfdf;
}
.key-button-clicked{
  border-radius: 5px;
  background: #c0c0c0;
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  color: #f7f7f7;
}